<a href="https://colab.research.google.com/github/amnacas/Portifolio/blob/master/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Cleaning - Passo a passo**

## **Importando bibliotecas e verificando o dataset**

In [ ]:
# Importando as bibliotecas
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Importando o arquivo .csv para o dataset
data = pd.read_csv("https://raw.githubusercontent.com/Kaushik-Varma/Marketing_Data_Analysis/master/Marketing_Analysis.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,11,14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
# Dando uma olhada no inicio do dataset
data.head()

      banking marketing  ...                              Unnamed: 18
0  customer id and age.  ...  response of customer after call happned
1            customerid  ...                                 response
2                     1  ...                                       no
3                     2  ...                                       no
4                     3  ...                                       no

[5 rows x 19 columns]

In [ ]:
# Dando uma olhada no final do dataset
data.tail()

      banking marketing Unnamed: 1  ... Unnamed: 17 Unnamed: 18
45208             45207         51  ...     unknown         yes
45209             45208         71  ...     unknown         yes
45210             45209         72  ...     success         yes
45211             45210         57  ...     unknown          no
45212             45211         37  ...       other          no

[5 rows x 19 columns]

In [ ]:
# Verificando as variáveis
print("Tipos das variáveis:")
data.dtypes

Tipos das variáveis:

banking marketing    object
Unnamed: 1           object
Unnamed: 2           object
Unnamed: 3           object
Unnamed: 4           object
Unnamed: 5           object
Unnamed: 6           object
Unnamed: 7           object
Unnamed: 8           object
Unnamed: 9           object
Unnamed: 10          object
Unnamed: 11          object
Unnamed: 12          object
Unnamed: 13          object
Unnamed: 14          object
Unnamed: 15          object
Unnamed: 16          object
Unnamed: 17          object
Unnamed: 18          object
dtype: object

## **Removendo linhas e colunas desnecessárias**

In [ ]:
# Importando o arquivo .csv para o dataset já desprezando as duas primeiras linhas

data = pd.read_csv("https://raw.githubusercontent.com/Kaushik-Varma/Marketing_Data_Analysis/master/Marketing_Analysis.csv", skiprows = 2)
data.head()

   customerid   age  salary  balance  ... pdays previous poutcome response
0           1  58.0  100000     2143  ...    -1        0  unknown       no
1           2  44.0   60000       29  ...    -1        0  unknown       no
2           3  33.0  120000        2  ...    -1        0  unknown       no
3           4  47.0   20000     1506  ...    -1        0  unknown       no
4           5  33.0       0        1  ...    -1        0  unknown       no

[5 rows x 19 columns]

In [ ]:
# Verificando novamente as variáveis
print("Tipos das variáveis:")
data.dtypes

Tipos das variáveis:

customerid      int64
age           float64
salary          int64
balance         int64
marital        object
jobedu         object
targeted       object
default        object
housing        object
loan           object
contact        object
day             int64
month          object
duration       object
campaign        int64
pdays           int64
previous        int64
poutcome       object
response       object
dtype: object

In [ ]:
# Drop the customer id as it is of no use.
data.drop('customerid', axis = 1, inplace = True)

## **Extraindo informações da coluna *jobedu* e tranformando em 2 novas colunas (job e edu)**

In [ ]:
#Extract job  & Education in newly from "jobedu" column.
data['job']= data["jobedu"].apply(lambda x: x.split(",")[0])
data['education']= data["jobedu"].apply(lambda x: x.split(",")[1])

# Drop the "jobedu" column from the dataframe.
data.drop('jobedu', axis = 1, inplace = True)

# Printing the Dataset
data.head()

    age  salary  balance  marital  ... poutcome response           job  education
0  58.0  100000     2143  married  ...  unknown       no    management   tertiary
1  44.0   60000       29   single  ...  unknown       no    technician  secondary
2  33.0  120000        2  married  ...  unknown       no  entrepreneur  secondary
3  47.0   20000     1506  married  ...  unknown       no   blue-collar    unknown
4  33.0       0        1   single  ...  unknown       no       unknown    unknown

[5 rows x 19 columns]

## **Lidando com missing values**

In [ ]:
# Checking the missing values
data.isnull().sum()

age          20
salary        0
balance       0
marital       0
targeted      0
default       0
housing       0
loan          0
contact       0
day           0
month        50
duration      0
campaign      0
pdays         0
previous      0
poutcome      0
response     30
job           0
education     0
dtype: int64

https://towardsdatascience.com/exploratory-data-analysis-eda-python-87178e35b14